
.primary_button{
    background: #f4a460aa;
    color: white;
    border: none;
    outline: none;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    display: block;

}