@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply !w-11/12 sm:w-10/12 !mx-auto;
}

header{
  @apply !px-0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

