@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply !w-11/12 sm:w-10/12 !mx-auto ;
}

header{
  @apply !px-0;
}

/* h1, h2, h3, h4, h5, h6 {
  @apply font-bold ;
} */

h1 {
  @apply mb-6 font-serif text-5xl font-semibold  sm:text-7xl md:text-8xl lg:text-9xl;
}

h2 {
  @apply mb-4 font-serif text-3xl font-semibold md:text-6xl;
}

h3 {
  @apply mb-4 text-xl font-bold sm:text-xxl md:text-2xl;
}

h4 {
  @apply mb-4 text-lg font-bold sm:text-xl;
}

h5 {
  @apply mb-2 text-base font-semibold sm:text-lg;
}

h6 {
  @apply mb-2 text-xs font-semibold sm:text-base;
}

p {
  @apply mb-5;
  &:last-child {
    @apply mb-0 pb-0;
  }
}

p.small {
  @apply text-sm;
}

p.large {
  @apply text-2xl;
}

a {
  @apply  no-underline transition-colors duration-300 ease-in-out hover:underline;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

